# Ignore Jupyter Notebooks and checkpoints
*.ipynb
.ipynb_checkpoints/
*.ipynb_checkpoints

# Ignore Python cache
*__pycache__

# Ignore csv files and backups
*.csv
csv/
backups/

# Ignore DS Store
*.DS_Store

# Ignore sensitive JSON files
config.json
images_metadata.json
images_parser.json

# Ignore pdf files
*.pdf

# Ignore images
images/
*.jpg

# Testers
*_tester.py

# Ignore chat db
*chat_snapshot/*