# Ignore Jupyter Notebooks and IPYNB files
*.ipynb
*.ipynb_checkpoints
*__pycache__

# Ignore csv files
*.csv
csv/*
backups/*

# Ignore Jupyter checkpoints
.ipynb_checkpoints/

# Ignore DS Store
*.DS_Store

# Ignore sensitive JSON files
*.json