# Ignore Jupyter Notebooks and checkpoints
*.ipynb
.ipynb_checkpoints/
*.ipynb_checkpoints

# Ignore Python cache
*__pycache__

# Ignore csv files and backups
*.csv
backups/
*chat_snapshot/*

# Exceptions
# !bin/csv/images_metadata.csv
# !bin/csv/prompts.csv
# !bin/csv/text_message_responses.csv
# !bin/csv/images_metadata_fuzzy_log.csv

# Ignore DS Store
*.DS_Store

# Ignore sensitive JSON files
config.json
images_metadata.json
images_parser.json

# Ignore pdf files
*.pdf

# Ignore images
images/
*.jpg

# Local analytics cache
.cache/

# Local bin assets (moved metadata/logos/pdfs)

# Testers
*_tester.py

# Ignore chat db
*chat_snapshot/*
